@import 'reset';
@import 'variables';
@import 'jquery.fullpage';

section{
  height: 100%;
}
ul{
  list-style: none;
}
li{
  display: inline;
}
.header_main{
  height: $header_height;
}
.height_adjust1{
  height: calc(100% - #{$header_height});
}

.bgcolor1{
  background-color: $bgcolor1;
}
.bgcolor2{
  background-color: $bgcolor2;
}
.bgcolor3{
  background-color: $bgcolor3;
}

.angry{
  color: $color-first;
}
